<div class="container">
    <div class="row">
        <div class="col-5 ml-5">
            <h2 class="mt-3">
                投稿詳細
            </h2>
        </div>
        <div class="col-5 text-right">
            <h4 class="mt-3">
                投稿者：<%= @post.user.name %>
            </h4>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
       <div class="col-10">
           <table class="table table-borderless">
              <tr>
                  <th>
                      <h4>タイトル</h4>
                  </th>
                  <td>
                      <h4><%= @post.title %></h4>
                  </td>
              </tr>
              <tr>
                  <th>
                      <h4>本文</h4>
                  </th>
                  <td> <%= @post.body %></td>
              </tr>
           </table>
       </div>
    </div>
</div>