<div class="conteiner">
    <div class="row">
         <div class="col-4 offset-4 text-center mt-5">
             <h1 class="text-border">ようこそ<storong>recoani!!</storong>へ</h1>
         </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 text-center mt-3">
            <h4 class="mb-5">recoani!!とは</h4>
            <p> このサイトは自分の好きなアニメの感想を見たり書き込んだり、自分の好きなジャンルのアニメを探すことができます。 </p>
            <p>アニメにはたくさんの種類があります。まだ見たことのないジャンルのアニメを探したりすることもできます。</p>
            
            
        </div>
    </div>    
        <div class="row justify-content-center">
             <div class="col-7 offset-1 mb-5 mt-5">
                <a class="btn btn-info col-10 py-2" href="/users/sign_in">ログイン</a>
             </div>
         </div>
         <div class="row justify-content-center">
             <div class="col-7 offset-1 mb-5">
                <a class="btn btn-success col-10 py-2" href="/users/sign_up">新規登録</a>
             </div>
         </div>
    
</div>